{% include extrabar %}

<header id="topnav" class="navbar navbar-bluegray navbar-fixed-top">

	<div class="logo-area">
		<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
			<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
				<span class="icon-bg">
					<i class="ti ti-shift-left"></i>
				</span>
			</a>
		</span>
		
		<a class="navbar-brand" href="index.html">Outline</a>

		<div class="toolbar-icon-bg hidden-xs" id="toolbar-search">
			<div class="input-icon">
				<i class="ti ti-search search"></i>
				<input type="text" placeholder="Type to search..." class="form-control" tabindex="1">
				<i class="ti ti-close remove"></i>
			</div>
        </div>

	</div><!-- logo-area -->



	<div class="yamm navbar-left navbar-collapse collapse in">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mega Menu<span class="caret"></span></a>
				<ul class="dropdown-menu" style="width: 900px;">
					<li>
						<div class="yamm-content container-sm-height">
							<div class="row row-sm-height yamm-col-bordered">
								<div class="col-sm-3 col-sm-height yamm-col">
                                            
                                    <h3 class="yamm-category">Layout</h3>
                                    <ul class="list-unstyled ">
                                        <li><a href="">Grid Scaffolding</a></li>
                                        <li><a href="">Static Sidebar</a></li>
                                        <li><a href="">Scroll Sidebar</a></li>
                                        <li><a href="">Boxed</a></li>   
                                    </ul>

                                    
                                </div>
                                <div class="col-sm-3 col-sm-height yamm-col">
                                    
                                    <h3 class="yamm-category">Ui Kit</h3>
                                    <ul class="list-unstyled ">
                                        <li><a href="">Typography</a></li>
                                        <li><a href="">Buttons</a></li>
                                        <li><a href="">Themify Icons</a></li>
                                        <li><a href="">Helpers</a></li>
                                    </ul>

                                    
                                </div>
                                <div class="col-sm-3 col-sm-height yamm-col">
                                    
                                    <h3 class="yamm-category">Analytics</h3>
                                    <ul class="list-unstyled ">
                                        <li><a href="">Flot</a></li>
                                        <li><a href="">Sparklines</a></li>
                                        <li><a href="">Morris</a></li>
                                        <li><a href="">Easy Pie Charts</a></li>
                                    </ul>

                                    
                                </div>
                                <div class="col-sm-3 col-sm-height yamm-col">
                                	<h3 class="yamm-category">Architecto</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                </div>
							</div>
						</div>
					</li>
				</ul>
			</li>
			<li class="dropdown" id="widget-classicmenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="">Another Link</a></li>
		</ul>
	</div>



	<ul class="nav navbar-nav toolbar pull-right">


		<li class="dropdown toolbar-icon-bg">
			<a href="#" id="navbar-links-toggle" data-toggle="collapse" data-target="header>.navbar-collapse">
				<span class="icon-bg">
					<i class="ti ti-more"></i>
				</span>
			</a>
		</li>

		<li class="toolbar-icon-bg" id="trigger-toolbar-search">
			<a href="#"><span class="icon-bg"><i class="ti ti-search"></i></span></a>
		</li>


        <li class="toolbar-icon-bg hidden-xs" id="trigger-extrabar">
            <a href="#"><span class="icon-bg"><i class="ti ti-view-grid"></i></span></a>
        </li>

        <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
            <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></i></a>
        </li>

        <li class="dropdown toolbar-icon-bg hidden-xs">
			<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-email"></i></span><span
			class="badge badge-deeporange">2</span></a>
			<div class="dropdown-menu notifications arrow">
				<div class="topnav-dropdown-header">
					<span>Messages</span>
				</div>
				<div class="scroll-pane">
					<ul class="media-list scroll-content">
						<li class="media notification-message">
							<a href="#">
								<div class="media-left">
									<img class="img-circle avatar" src="{{'demo/avatar/avatar_06.png' | asset_url | img_loc }}" alt="" />
								</div>
								<div class="media-body">
									<h4 class="notification-heading"><strong>Caleb Harrington</strong> <span class="text-gray">‒ Are you goin ...</span></h4>
									<span class="notification-time">13 mins ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-message">
							<a href="#">
								<div class="media-left">
									<img class="img-circle avatar" src="{{'demo/avatar/avatar_04.png' | asset_url | img_loc }}" alt="" />
								</div>
								<div class="media-body">
									<h4 class="notification-heading"><strong>Boyd Wilson</strong> <span class="text-gray">‒ We will talk to ...</span></h4>
									<span class="notification-time">25 mins ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-message">
							<a href="#">
								<div class="media-left">
									<img class="img-circle avatar" src="{{'demo/avatar/avatar_07.png' | asset_url | img_loc }}" alt="" />
								</div>
								<div class="media-body">
									<h4 class="notification-heading"><strong>Annie Fernandez</strong> <span class="text-gray">‒ These are not ...</span></h4>
									<span class="notification-time">7 hours ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-message">
							<a href="#">
								<div class="media-left">
									<img class="img-circle avatar" src="{{'demo/avatar/avatar_02.png' | asset_url | img_loc }}" alt="" />
								</div>
								<div class="media-body">
									<h4 class="notification-heading"><strong>Hope Jones</strong> <span class="text-gray">‒ We are very happy ...</span></h4>
									<span class="notification-time">2 days ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-message">
							<a href="#">
								<div class="media-left">
									<img class="img-circle avatar" src="{{'demo/avatar/avatar_03.png' | asset_url | img_loc }}" alt="" />
								</div>
								<div class="media-body">
									<h4 class="notification-heading"><strong>Stacey Nelson</strong> <span class="text-gray">‒ Totally pointless ...</span></h4>
									<span class="notification-time">3 days ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-message">
							<a href="#">
								<div class="media-left">
									<img class="img-circle avatar" src="{{'demo/avatar/avatar_05.png' | asset_url | img_loc }}" alt="" />
								</div>
								<div class="media-body">
									<h4 class="notification-heading"><strong>Felix Adams</strong> <span class="text-gray">‒ You gotta be shi ...</span></h4>
									<span class="notification-time">5 days ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-message">
							<a href="#">
								<div class="media-left">
									<img class="img-circle avatar" src="{{'demo/avatar/avatar_09.png' | asset_url | img_loc }}" alt="" />
								</div>
								<div class="media-body">
									<h4 class="notification-heading"><strong>Lester Hubbard</strong> <span class="text-gray">‒ That is right m ...</span></h4>
									<span class="notification-time">7 days ago</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="#">See all messages</a>
				</div>
			</div>
		</li>
		
		<li class="dropdown toolbar-icon-bg">
			<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
			<div class="dropdown-menu notifications arrow">
				<div class="topnav-dropdown-header">
					<span>Notifications</span>
				</div>
				<div class="scroll-pane">
					<ul class="media-list scroll-content">
						<li class="media notification-success">
							<a href="#">
								<div class="media-left">
									<span class="notification-icon"><i class="ti ti-pencil"></i></span>
								</div>
								<div class="media-body">
									<h4 class="notification-heading">Profile page has been updated</h4>
									<span class="notification-time">12 mins ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-info">
							<a href="#">
								<div class="media-left">
									<span class="notification-icon"><i class="ti ti-check"></i></span>
								</div>
								<div class="media-body">
									<h4 class="notification-heading">Updates pushed successfully</h4>
									<span class="notification-time">35 mins ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-teal">
							<a href="#">
								<div class="media-left">
									<span class="notification-icon"><i class="ti ti-user"></i></span>
								</div>
								<div class="media-body">
									<h4 class="notification-heading">New users requested to join</h4>
									<span class="notification-time">11 hours ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-indigo">
							<a href="#">
								<div class="media-left">
									<span class="notification-icon"><i class="ti ti-shopping-cart"></i></span>
								</div>
								<div class="media-body">
									<h4 class="notification-heading">More orders are pending</h4>
									<span class="notification-time">2 days ago</span>
								</div>
							</a>
						</li>
						<li class="media notification-danger">
							<a href="#">
								<div class="media-left">
									<span class="notification-icon"><i class="ti ti-arrow-up"></i></span>
								</div>
								<div class="media-body">
									<h4 class="notification-heading">Pending membership approval</h4>
									<span class="notification-time">4 days ago</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="#">See all notifications</a>
				</div>
			</div>
		</li>

		<li class="dropdown toolbar-icon-bg">
			<a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-user"></i></span></i></a>
			<ul class="dropdown-menu userinfo arrow">
				<li><a href="#/"><i class="ti ti-user"></i><span>Profile</span><span class="badge badge-info pull-right">73%</span></a></li>
				<li><a href="#/"><i class="ti ti-settings"></i><span>Settings</span></a></li>
				<li><a href="#/"><i class="ti ti-help-alt"></i><span>Help</span></a></li>
				<li class="divider"></li>
				<li><a href="#/"><i class="ti ti-view-list-alt"></i><span>Statement</span></a></li>
				<li><a href="#/"><i class="ti ti-stats-up"></i><span>Earnings</span></a></li>
				<li><a href="#/"><i class="ti ti-money"></i><span>Withdrawals</span></a></li>
				<li class="divider"></li>
				<li><a href="#/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
			</ul>
		</li>

	</ul>

</header>